.contenedor-calculadora{
    width: 410px;
    height: 300px;
    background-color: rgb(80, 80, 80);
    margin: auto;
    border: 2px double rgb(0, 0, 0);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
}
.inputPrincipal{
    background-color: rgb(0, 0, 0);
    width: 410px;
    height: 70px;
    font-size: 20px;
    text-align: end;
    box-sizing: border-box;
    resize: none;
    color: white
}

/* botones */
.num1, .num2, .num3, .num4, .num5, .num6, .num7, .num8, .num9{
    width: 70px;
    height: 50px;
    font-size: 20px;
    margin-right: 7px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}
.resta{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}
.suma{
    font-size: 30px;
    width: 50px;
    height: 102px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}
.divi{
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}
.mult{
    font-size: 30px;
    width: 50px;
    height: 102px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}

.expon, .raizCuadrada, .raizCubica{
    font-size: 30px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 5px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}

.resultado{
    font-size: 20px;
    color: white;
    margin: 10px;
    width: 200px;
    height: 45px;
    border: 2px solid rgb(86, 245, 86);
    box-shadow: 3px 3px 4px rgb(119, 119, 119);
    background-color: transparent;
    border-radius: 5%;
}


/* contenedor de la primera columna de numeros */
.contenedor-147{
    display: inline-block;
}

/* contenedor de la segunda columna de numeros */
.contenedor-258{
    display: inline-block;
}

/* contenedor de la tercera columna de numeros */
.contenedor-369{
    display: inline-block;
}


/* columna de suma y resta */
.contenedor-sumRes{
    display: inline-block;
}

/* columna de multiplicar y dividir */
.contenedor-mulDiv{
    display: inline-block;
}

/* contenedor de exponenciar y raices */
.contenedor-expRaiz{
    display: inline-block;
}

.contenedor-resultado{
    display: flex;
    justify-content: center;
}
